<div class="container">
    <h1>このサイトについて</h1>
    <div class="row">
        <div class="col-sm-12">
            <p>このサイトを作った経緯は特定の話題を話すことに特化したSNSサイトを作成してみたいと考えたのが契機です。</p>
            <p>他のSNSサイトは直感的で扱いやすくはあるものの、話す話題の分布が広くなりがちであり、本当に言いたいことから脱線してしまう場面を度々見てきました。</p>
            <p>そうなってしまう原因が特定のジャンルに限定して話していないことだと、私は考えました。</p>
            <p>そこで私は、特定の話題に限定して話しやすくするSNSサイトを作成しようと考え、このサイトの作成に至りました。</p>
        </div>
    </div>
    <h1>私がこのサイトを作る上で学習に利用させていただいた場所。</h1>
    <div class="row">
        <div class="col-sm-12">
            <p>私はサイトを作成するためにプログラミングとエンジニアに関する知識を学ぶことにしました。</p>
            <p>その際、円滑に学びたいと考えた私は、DMM Webcamp様の下で学習する事にしました。</p>
            <p>結果として、私はこのサイトを出来る程の知識を身に付けることが出来ました。</p>
            <p>以下に、私が利用いたしたDMM Webcamp様の校舎場所を、地図として提示しておきます。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 mx-auto">
            <h2>GoogleMap</h2>

            <input class="form-control w-50" id="address" type="textbox" value="DMMWebcamp 新宿校">
            <input class="btn btn-success" type="button" value="検索" onclick="codeAddress()">
            <div id="display">上の検索ボックスで好きな場所を調べられます</div>

            <div id='map'></div>

            <style>
            #map {
              height: 600px;
              width: 600px;
            }

            @media screen and (max-width: 1300px) {
                #map {
                  width: 100%;
                }
            }

            @media screen and (max-width: 520px) {
                #map {
                  width: 95%;
                }
            }
            </style>

            <script>
            let map
            let geocoder

            const display = document.getElementById('display')

            function initMap(){
              geocoder = new google.maps.Geocoder()

              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.6895824, lng:139.7070532},
                zoom: 12,
              });

              marker = new google.maps.Marker({
                position:  {lat: 35.6895824, lng:139.7070532},
                map: map
              });
            }

            function codeAddress(){
              let inputAddress = document.getElementById('address').value;

              geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                if (status == 'OK') {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });

              display.textContent = "検索結果：" + results[ 0 ].geometry.location
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSip3xmW5TAqC0hwjkbhxjFaJCTvKx5tM&callback=initMap" async defer></script>
        </div>
    </div>
</div>
