<div class="container">
  <div class="row bg-success text-light">
    <div class="col-lg-12 col-md-7 col-sm-10 mx-auto">
      <% if !customer_signed_in? %>
       <i id="notice" style="font-size: 20px; font-family: Georgia, serif;"><%= notice %></i>
      <% end %>
      <h1>ようこそ</h1>
      <p>このサイトはSNSサイトです。</p>
      <p>自分が話したい話題について話し合うルームを自由に作成することが出来ます。</p>
    </div>
  </div>
</div>
  <div class="container bg-primary text-light">
    <div class="row">
      <div class="col-lg-12 col-md-8 col-sm-10 mx-auto">
        <h1>このサイトが作成された経緯</h1>
        <i>「サイト紹介」をご参照ください。</i>
      </div>
    </div>

    <div class="jQuery_aplly_slide row">
      <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <%=image_tag 'Aisatsu.jpg', size:"500x500", id:"greeting-image" %>
      </div>
    </div>
  </div>
