<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black; color: #4BC595;"><abbr>チャット</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>インターネットを使用した話し合いのことです。</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
　 チャットと言うのは英語で雑談を意味します。<br>
　 インターネットでの話し合い全般を指し示す事が多く、SNSや電子掲示板などの話せる所で話をする時にチャットをすると言われます。<br>
　 チャットにも色々と種類があります。<br>
　 文字だけのコミュニケーションで話す<strong>テキストチャット</strong>。<br>
　 音声を使って話す<strong>ボイスチャット</strong>。<br>
　 動画を使って話す<strong>ビデオチャット</strong>等。<br>
　 ネット上では様々な形式でチャットを可能としております。<br>
   </p>
   <br>
   <h3>まとめ</h3>
   <p>チャットと言うのネット上でのお喋りであると考えておきましょう。</p>
  </div>
 </div>
</div>
