<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black;"><abbr>SNS</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>パソコンやスマホ<ruby>等<rt>など</rt></ruby>のインターネットを使える機械を用いて、誰かと会話したりすることで情報を共有できるサービスのことです。</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
   <abbr>SNS</abbr>は<strong>ソーシャル・ネットワーキング・サービス</strong>が正式名称です。<br>
   名前が長いのでこの様に略されたと思われます。<br>
   SNSと言うのは情報伝達が可能なサービスがそう呼ばれることが多いです。<br>
   さらに、インターネット上で話し合うことが出来るサービスであればSNSとして取り扱われる事があります。<br>
   例を上げるなら<strong style="font-family: Book Antiqua;"><%= link_to 'Snapchat', 'https://www.snapchat.com/ja-JP' %></strong>や<strong style="font-family: Comic Sans MS;"><%= link_to 'TikTok', 'https://www.tiktok.com/ja-JP/' %></strong>等のコミュニケーションアプリはSNSに属します。<br>
   </p>
   <br>
   <h3>まとめ</h3>
   <p>インターネットで使えるお話ツールや、誰かと絵や動画等を共有出来る情報交換系サイトはSNSと考えておきましょう。</p>
  </div>
 </div>
</div>
