<h2>フォロワー</h2>
<% if @customers.exists? %>
    <%= render 'public/relationships/index', customer: @customers %>
<h2>フォロワーのタイムライン</h2>
    <%= render 'public/books/index', books: @book %>
<% else %>
    <p>ユーザーはいません</p>
<% end %>
