<div class="text-center">
    <% !admin_signed_in? ? notifications = @notifications.where.not(visitor_id: current_customer.id) : '' %>
    <% if !admin_signed_in? && notifications.exists? %>
      <%= render notifications %>
      <%= paginate notifications %>
    <% else %>
     <p>通知はありません</p>
    <% end %>
  <h1><%= admin_signed_in? ? '管理者用通知画面です' : '' %></h1>
</div>