<div class="cotainer">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <h3>グループ情報</h3>
            <%= render 'index', groups: @groups %>
        </div>
    </div>
</div>