<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">
            <h2>グループ作成</h2>
            <%= render 'layouts/errors', obj: @group %>
            <%= render 'form', group: @group %>
        </div>
    </div>
</div>