<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
　 <p>
　  ここは辞典ページです。<br>
　  SNSに関する様々な用語を紹介しています。<br>
　  これらの用語を知っていればSNSをより円滑に使用する事が出来るでしょう。<br>
　 </p>
　  <i><%= link_to 'SNSとは', sns_public_dictionaries_path, class: 'btn btn-info' %></i>
　  <i><%= link_to 'ルームとは', room_public_dictionaries_path, class: 'btn btn-info' %></i>
　  <i><%= link_to 'ユーザーとは', user_public_dictionaries_path, class: 'btn btn-info' %></i>
　  <i><%= link_to 'チャットとは', chat_public_dictionaries_path, class: 'btn btn-info' %></i>
　</div>
 </div>
</div>
