<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black; color: #4BC595;"><abbr>ルーム</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>ネットで調べると<strong>部屋</strong>と言う意味が返ってきますが、このアプリケーションでは「同じ興味を持った方達が話すお部屋」と定義しています。</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
    このアプリケーションで使用できるルームは、会話したい趣味や趣向を持った方達が、コミュニケーションを行いやすくする機能として搭載しました。<br>
    例えばゲームについて話したいのであれば、それに関する題名と部屋の説明を入力してからルームの作成を行えば、それらに関する話題を持った方々の為のルームが作成されます。<br>
    他の事を話したければ別の題名及び説明を入れてルーム作りを行なっていけばよいでしょう。
   </p>
   <br>
   <h3>まとめ</h3>
   <p>Sapphire Roomsで使用できるルームは、「同じ興味を持った方達が話しやすくする為の部屋」だと考えておきましょう。</p>
  </div>
 </div>
</div>
