<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black; color: #619700;"><abbr>ユーザー</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>サイトを使用する一般の方。丁寧に呼称するのであればお客様の事です。</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
    Webサイト等は利用する方が居て初めて成り立つものだと考えております。
    現実世界でもコンビニなどの施設もお客様が居なければ商売として成り立ちません。
    こうしたお客様や利用者と言った方のことを、ユーザーと呼びます。
    Wikipediaを閲覧すると「実際に商品やサービスなどを使う人、または買う人」と書かれています。
    上記の説明と大体一緒ですね。
    名前の由来は英語の「use(使う)」に接尾辞(英単語の後にくっついて単語としての意味を変化させるもの)である「er(〜する人)」が合体して生まれた言葉のようです。
    合わさると「user(ユーザー)」になりますね。
   </p>
   <br>
   <h3>まとめ</h3>
   <p>お客様や利用者のことを意味する言葉として覚えておくとよいでしょう。</p>
  </div>
 </div>
</div>
