<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">
            <h2>グループ編集</h2>
            <% if !admin_signed_in? %>
                <%= render 'layouts/errors', obj: @group %>
            <% end %>
                <%= render 'edit_form', group: @group %>
        </div>
    </div>
</div>