@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#greeting-image{
　height: 600px;
　width: 600px;
}

@media screen and (max-width: 1300px) {
  #greeting-image{
   width: 100%;
  }
}

@media screen and (max-width: 520px) {
  #greeting-image{
   width: 95%;
  }
}
